$main: #eb6154;
$second: #1c9b64;
$third: #294197;
$light: #ccb284;
$text: #000;
$orange: #ff8426;
$lg: 1280px;
$sm: 600px;
$md: 900px;
$bg: #ffedbc;
$l1: #f9b900;
$l2: #80a6d7;
$l3: #87caab;
$l4: #ea80b0;
