@charset "UTF-8";

@import "./mixin";
@import "./common";
@import "./animation";
@import "./module";

@font-face {
  font-family: Gfont;
  src: url("../font/GiraffeTron.otf");
}
@font-face {
  font-family: Gfont-Bold;
  src: url("../font/GiraffeTronBold.otf");
}

sup {
  @include scale(0.6);
  display: inline-block;
  margin-left: -2px;
}
b {
  font-weight: 600;
}

html,
body,
select,
option,
.modal,
input,
textarea {
  font-family:
    "Gfont", "Noto Sans TC", "Heiti TC", "儷黑 Pro", "LiHei Pro", "文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體",
    "Microsoft JhengHei", "新細明體", sans-serif, Arial, Helvetica;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: $text;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

*,
*:after,
*:before {
  @include box;
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
  //-webkit-tap-highlight-color: transparent;
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.root {
  width: 640px;
  height: 360px;
  position: absolute;
  top: 50%;
  left: 50%;

  @include translate(-50%, -50%);

  overflow: hidden;
  z-index: 2;
  background: $bg;

  > .bgg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    .pentahedron {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: $third;
    }
    .point {
      fill: #fff;
    }
    .rhombus {
      fill: $second;
      stroke: $second;
    }
    .x {
      fill: $l1;
    }
    .circle {
      fill: $main;
    }
    svg {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      transform: translateZ(0px);
    }
  }

  > .canvas-board {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //overflow: hidden;
    z-index: 4;
    pointer-events: none;
    //Dennis update 2022/1/14 start
    .canvas-btn-group {
      pointer-events: auto !important;
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 65%;
      left: 10px;
      background: url("../DATA/IMAGES/common/btn_group.png") no-repeat center center;
      background-size: 100% 100%;
      display: none;
    }
    .canvas-btn-apart {
      pointer-events: auto !important;
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 73%;
      left: 10px;
      background: url("../DATA/IMAGES/common/btn_apart.png") no-repeat center center;
      background-size: 100% 100%;
      display: none;
    }
    //Dennis update 2022/1/14 end
  }
  > .widget {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    //overflow: hidden;
    z-index: 3;
    pointer-events: none;

    //Dennis update 2022/2/22 start
    .canvas-btn-group {
      pointer-events: auto !important;
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 65%;
      left: 10px;
      background: url("../DATA/IMAGES/common/btn_group.png") no-repeat center center;
      background-size: 100% 100%;
      display: none;
    }
    .canvas-btn-apart {
      pointer-events: auto !important;
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 73%;
      left: 10px;
      background: url("../DATA/IMAGES/common/btn_apart.png") no-repeat center center;
      background-size: 100% 100%;
      display: none;
    }
    //Dennis update 2022/2/22 end

    .smokeEffect {
      position: absolute;
      width: 126px;
      height: 148px;
      z-index: 0;
      transform-origin: center center;
      margin-left: -63px;
      margin-top: -74px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  ////202512:側邊的容器

  .sidebar-canvas {
    width: 140px;
    height: 320px;
    background: #222;
    position: fixed;
    bottom: 40px;
    right: 0;
    z-index: 5;
    padding: 0 0 40px 0;
    transform: translateX(110%);
    transition: transform 0.6s ease-in-out;

    .btn_add_custom_canvas_item {
      position: absolute;
      left: 5px;
      bottom: 5px;
      width: 20px;
      height: 20px;
      background: url("../DATA/IMAGES/common/btn_close.png") no-repeat center center;
      background-size: 100% 100%;
      filter: hue-rotate(120deg) saturate(1.4); // 將原紅色轉為綠色
      cursor: pointer;
      transform: rotate(45deg);
    }

    .canvas_list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding: 15px 10px 20px 10px;
      mask: linear-gradient(0deg, transparent, #fff 7%, #fff 93%, transparent);
      //background: #000;
      .canvas_item {
        position: static;
        pointer-events: none;
        width: auto !important;

        canvas,
        p {
          pointer-events: auto;
        }
      }
    }
  }
  ////202512:適用於任何地方
  .canvas_item {
    position: absolute;
    z-index: 100;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    pointer-events: auto;
    //animation: bounceIn 1s ease-in-out;
    //transform-origin: center left;

    canvas,
    p {
      pointer-events: none;
      cursor: pointer;
    }

    .button_remove {
      pointer-events: auto;
      flex: 0 0 auto;
      width: 10px;
      height: 10px;
      display: inline-block;
      background: url("../DATA/IMAGES/common/btn_close.png") no-repeat center center;
      background-size: 100% 100%;
      cursor: pointer;
    }
  }
  .custom_canvas_item {
    //max-width: 220px;
    p {
      font-size: 0.6em;
      line-height: 1.2;
      color: #333;
      background: #fff;
      border: 1px solid #ccc;
      padding: 0 3px;
      white-space: nowrap;
    }
  }
  .attachment {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 320px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 20px;
    color: #222;
    display: grid;
    place-content: center;
    > div {
      background: #fff;
      width: auto;
      height: auto;
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 70%;
      margin: 0 auto;
      animation: fadeInRight 0.5s ease-in-out;

      &.attachment-text {
        &::before {
          display: block;
          content: "我發現";
          color: #666;
          margin-bottom: 5px;
        }
        p {
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
    img {
      max-width: 100%;
      max-height: 380px;
      width: auto;
      height: auto;
    }
    video {
      width: auto;
      max-height: 250px;
      aspect-ratio: 16/9;
    }
  }
  ////202512:固定頁樣式
  > #main-keep {
    display: none;
    > .main {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: 1;
      box-sizing: content-box;
      display: none;
      * {
        animation-play-state: paused;
      }
      &.selected {
        display: block;
        * {
          animation-play-state: unset;
        }
      }
      &.autoMoving {
        @include transition(all, 0.5s);
      }
      &.default {
        top: 0 !important;
        left: 0 !important;
      }
    }
  }
  > .main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    box-sizing: content-box;
    &.autoMoving {
      @include transition(all, 0.5s);
    }
    &.default {
      top: 0 !important;
      left: 0 !important;
    }
  }

  > .units {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 99;
    .units-title {
      top: 60px;
      right: 50%;
      @include translate(50%, 0);
      margin-left: 0px;
      margin-right: 0;
      &.upper {
        top: 10px;
      }
    }
    .icon-wrapper {
      position: absolute;
      top: 58%;
      left: 50%;
      width: auto;
      height: auto;
      white-space: nowrap;
      pointer-events: none;
      @include translate(-50%, -50%);

      li {
        pointer-events: auto;
        cursor: pointer;
        display: inline-block;
        width: 110px;
        height: auto;
        text-align: center;
        margin: 0 5px;
        margin-bottom: 10px;
        position: relative;

        &:nth-child(even) {
          &::before {
            @include scaleXY(-1, 1);
          }
          &::after {
            background-image: url("../DATA/IMAGES/common/tap2.png");
          }
        }

        &::after {
          content: "";
          position: absolute;
          width: 40px;
          height: 13px;
          top: -5px;
          left: 50%;
          margin-left: -20px;
          background: url("../DATA/IMAGES/common/tap1.png") no-repeat center center;
          background-size: 100% 100%;
          @include opacity(0.7);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 0;
          padding-top: 100%;
          background: url("../DATA/IMAGES/common/unitbg.png") no-repeat center center;
          background-size: 100% 100%;
        }

        &.visited {
          filter: saturate(0);
        }

        h3 {
          font-size: 12px;
          color: #fff;
          line-height: 1.5;
          white-space: normal;
          span {
            display: block;
            font-size: 14px;
            font-weight: bold;
          }
        }

        img {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
          position: relative;
          z-index: 2;
        }
      }
    }

    .overlay {
      width: 110%;
      height: 110%;
      margin-left: -5%;
      margin-top: -5%;
    }

    &.active {
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .basic-tools {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;

    &.inclass {
      span {
        &.return {
          display: inline-block;
        }

        &.lines {
          display: inline-block;
        }
      }
    }

    span {
      pointer-events: auto;
      display: inline-block;
      position: absolute;
      z-index: 1;
      &.fullscreen {
        left: 5px;
        top: 10px;
        width: 15px;
        height: 15px;
        background: url("../DATA/IMAGES/common/btn_fullscreen.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }

      &.return {
        left: 5px;
        top: 35px;
        width: 15px;
        height: 15px;
        background: url("../DATA/IMAGES/common/btn_return.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
        display: none;
      }

      &.power {
        display: none;
        right: 10px;
        bottom: 4px;
        width: 32px;
        height: 32px;
        background: url("../DATA/IMAGES/common/btn_power.png") no-repeat center center;
        background-size: 28px 28px;
        cursor: pointer;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border: 3px solid #f58d83;
        @include borderRadius(16px);
        &.active {
          .confirm-power {
            display: inline-block;
          }
        }
      }
      &.demo {
        display: none;
        right: 47px;
        bottom: 4px;
        width: 64px;
        height: 32px;
        background: $l1;
        background-size: 28px 28px;
        cursor: pointer;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
        border: 3px solid #fccf4a;
        @include borderRadius(16px);
        &.real {
          background: $l2;
          border-color: #84c0f8;
          &::after {
            content: "Stop Demo";
            color: #fff;
          }
        }
        &::after {
          content: "Play Demo";
          white-space: nowrap;
          font-size: 12px;
          font-weight: bold;
          color: $bg;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.7);
        }
      }

      &.confirm-power {
        display: none;
        right: -7px;
        top: -37px;
        width: 60px;
        height: 37.5px;
        background: url("../DATA/IMAGES/common/confirm_power.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
        #backToGEO {
          width: 50%;
          height: 80%;
        }
      }
    }
  }
  .loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    display: none;
    background: rgba(0, 0, 0, 0.5);

    &.spinIn {
      display: block;
      pointer-events: auto;

      > div.spin {
        display: flex;
      }
    }

    > div.spin {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      //background: rgba(0, 0, 0, 0.3);
      @keyframes loadingSpin {
        0% {
          transform: rotate(45deg);
          border-color: $l1;
          @include borderRadius(10px);
        }

        25% {
          transform: rotate(135deg);
          border-color: $l2;
          @include borderRadius(20px);
        }

        50% {
          transform: rotate(225deg);
          border-color: $l3;
          @include borderRadius(10px);
        }

        75% {
          transform: rotate(315deg);
          border-color: $l4;
          @include borderRadius(20px);
        }

        100% {
          transform: rotate(405deg);
          border-color: $l1;
          @include borderRadius(10px);
        }
      }

      &::before {
        content: "";
        @include borderRadius(10px);
        display: inline-block;
        width: 40px;
        height: 40px;
        border: 5px solid $main;
        animation: loadingSpin 3s infinite ease;
        -webkit-animation: loadingSpin 3s infinite ease;
      }

      > P {
        position: absolute;
        font-size: 12px;
        color: #ccc;
        line-height: 20px;
        text-align: center;
        pointer-events: none;
        width: 50px;
        top: calc(50% + 23px);
        left: 50%;
        margin-left: -25px;
      }
    }
  }
}

#root:has(.btn_box.active) .sidebar-canvas {
  transform: translateX(0);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  //user-drag: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.assetsPreload {
  position: absolute;
  bottom: 1px;
  left: 0px;
  pointer-events: none;

  * {
    position: absolute;
    top: 100vh;
    left: -100vw;
    max-width: 4px;
    max-height: 4px;

    @include opacity(0.1);
  }
}

input {
  letter-spacing: 0;
  display: block;
  outline: none;
  background: none;
  border: none;
  min-width: 1px;
  padding: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #aaa;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #aaa;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa;
}

.noAni {
  //animation: none !important;
  animation-duration: 0 !important;
  animation-direction: reverse !important;
}

.keepCardFace {
  -webkit-transform: rotate3d(0, 1, 0, 0deg) !important;
  transform: rotate3d(0, 1, 0, 0deg) !important;
  //animation-direction: reverse !important;
  animation-duration: 0 !important;
  > div > * {
    opacity: 1 !important;
    animation-duration: 0 !important;
  }
}
.keepCardback {
  -webkit-transform: rotate3d(0, 1, 0, 0deg) !important;
  transform: rotate3d(0, 1, 0, 0deg) !important;
  //animation-direction: normal !important;
  animation-duration: 0 !important;
  > div > * {
    opacity: 0 !important;
    animation-duration: 0 !important;
  }
}

#myCanvas {
  position: absolute;
  z-index: 999999;
}

.fancybox-active {
  height: 100% !important;
}

//Dennis update 2022/1/17 start
i {
  font-style: italic !important;
}
#keyboard {
  z-index: 99999;
  bottom: 10px;
  #gatekeeper {
    width: 80%;
    margin-left: 10%;
    display: flex;
    #keypad {
      width: 70%;
      .shift,
      .delete,
      .space,
      .enter,
      .capslock {
        display: none;
      }
      .backspace {
        width: 26%;
      }
      > button {
        font-size: 20px;
        width: 13%;
      }
    }
    #numpad {
      width: 30%;
      .submit {
        display: none;
      }
      > button {
        font-size: 20px;
      }
    }
  }
}
